.login {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}
.login__bg-img {
    position: absolute;
    width: 100%;
    height: 100%;
}
.login-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
}
.login-form label {
    margin-bottom: 2rem;
}
.login-form input {
    width: 100%;
    text-align: center;
    background-color: inherit;
    border: none;
    border-bottom: 1px solid black;
    font-size: 2rem;
}
.login-form input:focus {
    outline: none;
}
.login-form input::placeholder {
    text-align: center;
}